<header class="page-header">
  <div class="page-title">
    <h1>Users</h1>
    <span class="page-subtitle"><i class="ph ph-user"></i> Total: 2,000</span>
  </div>
  <div class="page-actions">
    <button class="btn btn-secondary">
      <i class="ph ph-download-simple"></i> Export data
    </button>
    <button class="btn btn-primary">
      <i class="ph ph-plus"></i> Add user
    </button>
  </div>
</header>

<div class="table-card">

  <div class="table-toolbar">
    <div class="filters-group">
      <div class="custom-select">
        <select>
          <option>Role</option>
          <option>Admin</option>
          <option>User</option>
        </select>
        <i class="ph ph-caret-down"></i>
      </div>
      <div class="custom-select active">
        <select>
          <option>Status</option>
          <option>Active</option>
        </select>
        <i class="ph ph-caret-down"></i>
      </div>
      <div class="custom-select">
        <select>
          <option>Location</option>
        </select>
        <i class="ph ph-caret-down"></i>
      </div>
      <button class="btn-filter">
        <i class="ph ph-faders"></i> All filters
      </button>
    </div>

    <div class="bulk-actions">
      <div class="icon-tooltip" data-tooltip="Edit">
        <button class="icon-btn active"><i class="ph ph-pencil-simple"></i></button>
      </div>
      <div class="icon-tooltip" data-tooltip="Enroll">
        <button class="icon-btn"><i class="ph ph-file-text"></i></button>
      </div>
      <div class="icon-tooltip" data-tooltip="Add to Group">
        <button class="icon-btn"><i class="ph ph-users-three"></i></button>
      </div>
      <div class="icon-tooltip" data-tooltip="Delete">
        <button class="icon-btn"><i class="ph ph-trash"></i></button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="data-table">
      <thead>
      <tr>
        <th width="40">
          <label class="custom-checkbox master-checkbox">
            <input type="checkbox">
            <span class="checkmark indeterminate"></span>
          </label>
        </th>
        <th>ID <i class="ph ph-caret-up-down"></i></th>
        <th>USER <i class="ph ph-caret-up-down"></i></th>
        <th>GENDER <i class="ph ph-caret-up-down"></i></th>
        <th>AGE <i class="ph ph-caret-up-down"></i></th>
        <th>ROLE <i class="ph ph-caret-up-down"></i></th>
        <th>LAST LOGIN <i class="ph ph-caret-up-down"></i></th>
        <th>STATUS <i class="ph ph-caret-up-down"></i></th>
        <th align="right">ACTIONS</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <label class="custom-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </td>
        <td>447</td>
        <td>
          <div class="user-cell">
            <img src="https://i.pravatar.cc/150?u=1" alt="Robert Fox">
            <span>Robert Fox</span>
          </div>
        </td>
        <td>Male</td>
        <td>28</td>
        <td>Admin</td>
        <td>Today, 09:30</td>
        <td>0</td>
        <td class="actions-cell">
          <button class="action-icon"><i class="ph ph-phone"></i></button>
          <button class="action-icon"><i class="ph ph-envelope-simple"></i></button>
          <div class="dropdown-container" tabindex="0">
            <button class="action-icon"><i class="ph ph-dots-three"></i></button>
            <div class="dropdown-menu">
              <a href="#"><i class="ph ph-pencil-simple"></i> Edit</a>
              <a href="#"><i class="ph ph-file-text"></i> View details</a>
              <a href="#"><i class="ph ph-users-three"></i> Add to group</a>
              <a href="#" class="danger"><i class="ph ph-trash"></i> Delete</a>
            </div>
          </div>
        </td>
      </tr>
      <tr class="selected">
        <td>
          <label class="custom-checkbox">
            <input type="checkbox" checked>
            <span class="checkmark"></span>
          </label>
        </td>
        <td>877</td>
        <td>
          <div class="user-cell">
            <img src="https://i.pravatar.cc/150?u=2" alt="Marvin McKinney">
            <span>Marvin McKinney</span>
          </div>
        </td>
        <td>Male</td>
        <td>32</td>
        <td>Editor</td>
        <td>-</td>
        <td>0</td>
        <td class="actions-cell">
          <button class="action-icon"><i class="ph ph-phone"></i></button>
          <button class="action-icon"><i class="ph ph-envelope-simple"></i></button>
          <div class="dropdown-container" tabindex="0">
            <button class="action-icon"><i class="ph ph-dots-three"></i></button>
            <div class="dropdown-menu">
              <a href="#"><i class="ph ph-pencil-simple"></i> Edit</a>
              <a href="#"><i class="ph ph-file-text"></i> View details</a>
              <a href="#"><i class="ph ph-users-three"></i> Add to group</a>
              <a href="#" class="danger"><i class="ph ph-trash"></i> Delete</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label class="custom-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </td>
        <td>556</td>
        <td>
          <div class="user-cell">
            <div class="user-initials" [style.background-color]="'Darrell Steward' | initials:'color'">
              {{ 'Darrell Steward' | initials }}
            </div>
            <span>Darrell Steward</span>
          </div>
        </td>
        <td>Female</td>
        <td>24</td>
        <td>Viewer</td>
        <td>Yesterday</td>
        <td>6</td>
        <td class="actions-cell">
          <button class="action-icon"><i class="ph ph-phone"></i></button>
          <button class="action-icon"><i class="ph ph-envelope-simple"></i></button>
          <div class="dropdown-container" tabindex="0">
            <button class="action-icon"><i class="ph ph-dots-three"></i></button>
            <div class="dropdown-menu">
              <a href="#"><i class="ph ph-pencil-simple"></i> Edit</a>
              <a href="#"><i class="ph ph-file-text"></i> View details</a>
              <a href="#"><i class="ph ph-users-three"></i> Add to group</a>
              <a href="#" class="danger"><i class="ph ph-trash"></i> Delete</a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="table-pagination">
    <div class="pagination-info">1 to 10 of 2000</div>
    <div class="pagination-controls">
      <button class="page-btn disabled"><i class="ph ph-caret-double-left"></i></button>
      <button class="page-btn disabled"><i class="ph ph-caret-left"></i></button>
      <span class="page-current">Page 1 of 200</span>
      <button class="page-btn"><i class="ph ph-caret-right"></i></button>
      <button class="page-btn"><i class="ph ph-caret-double-right"></i></button>
    </div>
  </div>

</div>
